*{
    margin: 0;
    padding:0;
    text-align: center;
}
h1{
    background-color: darkblue;
    color:white;
    line-height: 5rem;
    height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display:flex;
    justify-items: center;
    align-items: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
   opacity: 0.5;
    cursor: pointer;
}
img{ 
    height: 180px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15rem;
    margin-top: 50px;
}
#msg{
    color:white;
    display: inline;
    background-color:midnightblue;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    
}
.msg-container{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  
    
}
p{
    font-weight:bold;
    font-size: 25px;
}
#user-score,#comp-score{
    font-size: 35px;
}